.devconsole, .devconsole * {
    border: none 0 #f70;
    box-sizing: border-box;
    font-family: "Consolas";
    font-weight: 500;
    margin: 0;
    outline: none 0 #f70;
    overflow: hidden;
    padding: 0;
}

/* default colors assume dark background in page */
.devconsole {
    border: double 3px #eeec;
    color: #eeec;
}
.devconsole, .devconsole * {
    border-color: #eeec;
}
.devconsole .dbt {
    border-top: double 3px #eeec;
}

/* black & orange */
.devconsole.csorange {
    background: #000b;
    color: #fc0a;
}
.devconsole.csorange, .devconsole.csorange *, .devconsole.csorange .dbt {
    border-color: #fc0a;
}

/* light blue futurustic */
.devconsole.csbl {
    background: #057d;
    color: #0aee;
}
.devconsole.csbl, .devconsole.csbl *, .devconsole.csbl .dbt {
    border-color: #0aee;
}

/* frosted glass */
.devconsole.cswhite {
    background: #fffc;
    color: #aace;
}
.devconsole.cswhite, .devconsole.cswhite *, .devconsole.cswhite .dbt {
    border-color: #aace;
}

/* sea glass */
.devconsole.cssea {
    background: #3b87;
    color: #3b8e;
}
.devconsole.cssea, .devconsole.cssea *, .devconsole.cssea .dbt {
    border-color: #3b8e;
}



.devconsole.hidden,
.devconsole.outer.hidden,
.devconsole .tab-slot>.text.hidden,
.devconsole .tab-slot>.tab-switcher.hidden {
    display: none;
}
.devconsole.hidden, .devconsole.outer.hidden {
    height: 0;
}

.devconsole.outer {
    border-radius: 5px;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
}
.outer>.inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.outer>.inner>* {
    flex-grow: 1;
    position: relative;
    width: 100%;
}
.devconsole .tab-slot>.tab-switcher {
    box-sizing: border-box;
    position: absolute;
    left: 5px;
    top: 5px;
    display: inline-block;
    padding: 3px;
    max-width: 90%;
    max-height: 3.3rem;
    overflow: hidden;
    overflow-y: auto;
    z-index: 900;
}
.devconsole .tab-switcher>a.button {
    background: #fff;
    color: #00f;
    border: none 0 #f70;
    font-weight: 600;
    margin: 0;
    padding: 2px;
    text-decoration: none;
}
.devconsole .tab-switcher>a.button:focus {
    text-decoration: underline;
}
.devconsole .tab-slot>.text {
    display: block;
    overflow-y: auto;
    padding: 2px;
    position: absolute;
    left: 0;
    top: 0; 
    right: 0;
    bottom: 0;
}
.devconsole .footer {
    box-sizing: content-box;
    flex-grow: 0;
    flex-shrink: 0;
    height: 1.5rem;
    line-height: 1.5rem;
    padding-left: 3px;
}
.devconsole .footer>.input-slot {
    display: block;
    line-height: normal;
    position: absolute;
    left: 1rem;
    top: 0;
    right: 1.5rem;
    bottom: 0;
}
.input-slot>input {
    background: transparent;
    color: inherit;
    height: 100%;
    width: 100%;
}
.input-slot>input[type='text']::-ms-clear {
	display: none; /* Say goodbye to IE/Edge clearing x */
}